<h1>Listing users</h1>
   <p id="notice" style="color: red"><%= notice %></p>
<table border="1">
  <tr>
    <th>Username</th>
    <th>Unityid</th>
    <th>Emailaddress</th>
    <th>Role</th>
    <th>Links</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <% if(user.userName != 'anonymous') %>
   <td><%= user.userName %></td>
    <td><%= user.unityId %></td>
    <td><%= user.emailAddress %></td>
    <td><%= user.role %></td>

        <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <% if(user.userName != 'adminaccount') %>
    <td><%= button_to "delete", user, :method=>:delete, :class=>:destroy %></td>
            <% end %>
    <% end %>
  </tr>
<% end %>
</table>

<br />


<%= link_to 'New User', new_user_path %>
<%= link_to 'Back', posts_path %>
